<h2>Development shortcuts:</h2>


<h3>Pages</h3>
<ul>
	<li><a href="admin/">Sample admin panel</a> (username: <em>demo</em>, password: <em>demo</em>)</p></li>
</ul>

<h3>API Endpoints</h3>
<ul>
	<li><a href="places/">Places list</li>
	<li><a href="places/1">Places detail (Shiloh Grill)</li>
	<br>
	<li><a href="viewpoints/">Viewpoints list</li>
	<li><a href="viewpoints/1">Viewpoint detail (Duquesne Incline)</li>
	<br>
	<li><a href="search/?q=bakery">Search</a> (sample query: "bakery")</li>
</ul>
